/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  --backgroundColor: #f8fafc;
  --textColor: #0f172a;
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* ============= PROJECT CSS =============== */

.sliderContainer {
  --accentColor: #8b5cf6;
  --textColor: #334155;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--textColor);

  .slider {
    width: 80vw;
    max-width: 800px;
    height: 30rem;
    position: relative;
    margin-top: 10rem;
    overflow: hidden;

    .navButton {
      position: absolute;
      top: 200px;
      background-color: #64748b;
      color: white;
      font-size: 1rem;
      height: 2rem;
      width: 2rem;
      padding: 0.5rem;
      border-radius: 4px;
      cursor: pointer;

      &.prev {
        left: 0;
      }

      &.next {
        right: 0;
      }
    }

    .slide {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s ease-in-out all;
      padding: 0 3rem;
    }
  }
}

.image {
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ddd6fe;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.05),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.name {
  color: var(--accentColor);
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.title {
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.text {
  line-height: 1.5rem;
  color: #64748b;
  margin-bottom: 1.5rem;
}

.quoteIcon {
  color: var(--accentColor);
  font-size: 2.5rem;
}

/* ============= Slick Slider CSS =============== */

.slickSlider {
  width: 80vw;
  max-width: 800px;
  margin-top: 10rem;
  text-align: center;

  .slick-slide img {
    display: inline-block;
  }

  .slick-prev::before,
  .slick-next::before {
    color: #64748b;
    font-size: 2rem;
  }
}
